* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.book {
  margin: 30px;
}

.book ul li {
    color: #0f1f2f;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #d1bc9c;
}

.divbo {
  width: 12vw;
  height: 18vw;
}

.divbo img {
  border-radius: 10px;
}

/* 
#cc922f - dourado
#0f1f2f - azul
#cacbc5 - cinza
#f7f6e9 - bege
#1e3957 - azul
 */
